name: Build & Publish Helm Chart

on:
  push:
    branches:
      - master
    paths:
      - "**/Chart.yaml"

jobs:
  acp:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish ACP Chart
        uses: SecureAuthCorp/github-actions/helm/helm-chart-publish@main
        with:
          chart-path: charts/acp
          jf-token: ${{ secrets.ARTIFACTORY_PASSWORD }}

  acp-cd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish ACP CD Chart
        uses: SecureAuthCorp/github-actions/helm/helm-chart-publish@main
        with:
          chart-path: charts/acp-cd
          jf-token: ${{ secrets.ARTIFACTORY_PASSWORD }}

  kube-acp-stack:
    needs: acp
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish Kube ACP Stack Chart
        uses: SecureAuthCorp/github-actions/helm/helm-chart-publish@main
        with:
          chart-path: charts/kube-acp-stack
          jf-token: ${{ secrets.ARTIFACTORY_PASSWORD }}

  openbanking:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish OpenBanking Chart
        uses: SecureAuthCorp/github-actions/helm/helm-chart-publish@main
        with:
          chart-path: charts/openbanking
          jf-token: ${{ secrets.ARTIFACTORY_PASSWORD }}

  istio-authorizer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish Istio Authorizer Chart
        uses: SecureAuthCorp/github-actions/helm/helm-chart-publish@main
        with:
          chart-path: charts/istio-authorizer
          jf-token: ${{ secrets. ARTIFACTORY_PASSWORD }}
